<section id="chefs" class="chefs section-bg">
{% load static %}
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Шеф-кухарі</h2>
          <p>Наші <span>Професійні</span> Шеф-кухарі</p>
        </div>

        <div class="row gy-4">
              {% for pers in chefs %}
                  <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                    <div class="chef-member">
                      <div class="member-img">
                          {% if pers.photo.url %}
                                <img src="{{ pers.photo.url }}" alt="" class="img-fluid">
                          {% else %}
                                <img src="{% static 'assets/img/chefs/avatar.jpg' %}" alt="Default Image" class="img-fluid">
                          {% endif %}
                      </div>
                      <div class="member-info">
                        <h4>{{ pers.surname }} {{ pers.name }}</h4>
                        <span>{{ pers.staff }}</span>
                      </div>
                    </div>
                  </div><!-- End Chefs Member -->
              {% endfor %}

        </div>

      </div>
    </section>